<div class="container">
  <div class="row">

    <div *ngFor="let item of items" class="col-sm-4 mt-5">
      <div class="card">
        <img class="card-img-top" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp" alt="Title">
        <div class="card-body">
          <h4 class="card-title">{{ item.title }} | {{ item.category }}</h4>
          <p>{{ item.price }}$</p>
          <p class="card-text">{{ item.description }}</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-success" (click)="addToCart(item.id)">add to cart</button>
        </div>
      </div>
    </div>


  </div>
</div>
